<div id="<%= dom_id call %>">
  <p>
    <strong>motive:</strong>
    <%= call.motive %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= call.date %>
  </p>

  <p>
    <strong>Client:</strong>
    <%= call.client_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= call.user_id %>
  </p>

</div>
