<p style="color: green"><%= notice %></p>

<%= render @call %>

<div>
  <%= link_to "Edit this call", edit_call_path(@call) %> |
  <%= link_to "Back to calls", client_calls_path(@client)  %>

  <%= button_to "Destroy this call", @call, method: :delete %>
</div>
